@model SLEOC.Models.CardHybridModel

@{
    ViewBag.Title = "Hybrid";
}

<link href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic,300,300italic,100,100italic" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/css/google_glass.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/google_glass_ui.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-2.1.1.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")"></script>
<script src="@Url.Content("~/Scripts/google_glass.js")"></script>
@*<script src="@Url.Content("~/Scripts/google_glass_ui.js")"></script>*@
<script>
    Card.init();
</script>

    <article class="photo">
        <img src="@Model.ImageURL" width="100%" height="100%">
        <div class="overlay-gradient-tall-dark" />
        <section>
            <p class="text-auto-size">@Html.Raw(Model.Description)</p>
        </section>
        @if (Model.ShowLeftFooter)
        {
            <footer>
                <p>
                    @Html.Raw(Model.LeftFooter)
                </p>
            </footer>
        }

        @if (Model.ShowRightFooter)
        {
            <footer>
                <time>
                    @Html.Raw(Model.RightFooter)
                </time>
            </footer>
        }
    </article>
