@model SLEOC.Models.CardMosaicListModel

@{
    ViewBag.Title = "MosaicList";
}

<link href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic,300,300italic,100,100italic" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/css/google_glass.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/google_glass_ui.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-2.1.1.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")"></script>
<script src="@Url.Content("~/Scripts/google_glass.js")"></script>
@*<script src="@Url.Content("~/Scripts/google_glass_ui.js")"></script>*@

<script>
    Card.init();
</script>

    <article>
        <figure>
            <ul class="mosaic mosaic@(SLEOC.Helpers.MathHelpers.Clamp(Model.ImageURL.Count, 1, 8))">
                @for (int i = 0; i < Math.Min(Model.ImageURL.Count, 8); i++)
                {
                    <li style="background-image: url(@Model.ImageURL[i])"></li>
                }
            </ul>
        </figure>
        <section>
            <p>
                @Html.Raw(Model.Title)
            </p>
            <table class="text-small align-justify">
                <tbody>
                    @for (int i = 0; i < Math.Max(Model.Label.Count, Model.Item.Count); i++)
                    {
                        <tr>
                            <td>
                                @if (i < Model.Label.Count)
                                {
                                    @Html.Raw(Model.Label[i])
                                }
                            </td>
                            <td>
                                @if (i < Model.Item.Count)
                                {
                                    @Html.Raw(Model.Item[i])
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        @if (Model.ShowLeftFooter)
        {
            <footer>
                <p>
                    @Html.Raw(Model.LeftFooter)
                </p>
            </footer>
        }

        @if (Model.ShowRightFooter)
        {
            <footer>
                <time>
                    @Html.Raw(Model.RightFooter)
                </time>
            </footer>
        }
    </article>
