@model SLEOC.Models.CardMosaicTextModel

@{
    ViewBag.Title = "MosaicText";
}

<!--Google Glass-->
<link href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic,300,300italic,100,100italic" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/css/google_glass.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/google_glass_ui.css")" rel="stylesheet" />

    <article>
        <div class="topbutton send"></div>
        <div class="topbutton team"></div>
        <div class="topbutton close"></div>
        <figure>
            <ul class="mosaic mosaic@(SLEOC.Helpers.MathHelpers.Clamp(Model.ImageURL.Count, 1, 8))">
                @for (int i = 0; i < Math.Min(Model.ImageURL.Count, 8); i++)
                {
                    <li style="background-image: url(@Model.ImageURL[i])"></li>
                }
            </ul>
        </figure>
        <section>
            <p>
                @Html.Raw(Model.Title)
            </p>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </section>
        @if (Model.ShowLeftFooter)
        {
            <footer>
                <p>
                    @Html.Raw(Model.LeftFooter)
                </p>
            </footer>
        }

        @if (Model.ShowRightFooter)
        {
            <footer>
                <time>
                    @Html.Raw(Model.RightFooter)
                </time>
            </footer>
        }
    </article>
