<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8" />
        <title>Google Glass UI - @ViewBag.Title</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/google_glass")
        @Styles.Render("~/Content/css")
    </head>
    <body>
        @RenderBody()
    </body>
</html>
